.title {
    color: saddlebrown;
}

.title-caption {
    padding-left: 15px;
    color: darkblue;
    font-style: italic;
    font-size: 15px;
}

hr {
    width: 49%;
    border: 1px solid saddlebrown;
    border-radius: 30px;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    background-color: antiquewhite;
    text-align: center;
    width: inherit;
}

input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-color: hsla(0, 0%, 50%, 0.21)
}

input[type=text] {
    background-color: antiquewhite;
}

#mainDiv, #secondDiv {
    border: 50px;
    background-color: tan;
    padding: 30px;
    border-radius: 20px;
    
}

.center {
    margin: auto;
    min-width: 200px;
    max-width: 500px;
}

h3 {
    margin-top: -10px;
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
    color: saddlebrown;
}

.info {
    font-size: 14px;
    text-align: left;
}

strong {
    font-weight: bold;
}

.resources {
    margin-top: 10px;
    margin-bottom: 10px;
}
